.place-bid-header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 20px;
    gap: 0 100px;
    margin-bottom: 50px;
}

.date{
    color: red;
    font-size: 30px;
    font-weight: 500;
    display: flex;
    flex-wrap: wrap;
    width: 100px;
    height: auto;
}

.open-close{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px 0;
}

.open-button{
    display: flex;
    color: black;
    padding: 5px 10px;
    background-color: rgb(204, 230, 229);
    width: 200px;
    justify-content: center;
    align-items: center;
    font-size: large;
}

.close-button{
    display: flex;
    color: white;
    padding: 5px 10px;
    background-color: red;
    width: 200px;
    justify-content: center;
    align-items: center;
    font-size: large;
}

.bid-submit-button{
    position: absolute;
    bottom: 3%;
    left: 35.8%;
    width: 440px;
    border: none;
    background-color: red;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
}

@media (max-width: 768px ){
    .bid-submit-button{
        width: 250px;
        left: 20%;

    }
}